* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html body {
  background: url("../img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

/* grid of whole display */
#wrapper {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas:
    "nav1 nav1 nav1"
    "middle1 middle1 middle1"
    "middle1 middle1 middle1"
    "middle1 middle1 middle1"
    "footer footer footer";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.07fr 1fr 1fr 1fr 0.3fr;
}

/* nav bar design */
nav {
  grid-area: nav1;
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: center;
  background: rgba(214, 211, 211, 0.1);
  padding-left: 10px;
  padding-right: 10px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav #left li,
nav #right li {
  padding: 2px 5px;
}

/* middle section design */
#middle {
  grid-area: middle1;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  grid-gap: 20px;
}


/* 
left widget design */
#leftwidgets {
  order: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 60px;
  height: 80%;
  width: 70%;
  flex: 0 0 300px;

}

#leftwidgets .dateTime{
  display: flex;
  flex-direction: column;
  color: #fff;  
}

#leftwidgets .dateTime time{
  font-size: 4em;
}

#leftwidgets .dateTime .date{
  font-size: 1.5em;
}

#leftwidgets .twoApps{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#leftwidgets .twoApps div{
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  flex: 1;
  min-height: 120px;
  max-height: 122px;
}
#leftwidgets .twoApps div:nth-child(1) p:nth-child(1){
  color:#DC143C;
  text-transform: uppercase;
}
#leftwidgets .twoApps div:nth-child(1) p:nth-child(2){
  font-size: 2em;
}
#leftwidgets .twoApps div:nth-child(1) p:nth-child(3), #leftwidgets .twoApps div:nth-child(1) p:nth-child(4){
  font-size: 0.8em;
  font-weight: bold;
}
#leftwidgets .twoApps div:nth-child(1) p:nth-child(3) span{
  color:#00CED1;
  font-weight: bold;
}
#leftwidgets .twoApps div:nth-child(1) p:nth-child(4) span{
  color: #8B008B;
  font-weight: bold;
}
#leftwidgets .twoApps div:nth-child(2){
  background: linear-gradient(to bottom,	#4682B4, #87CEFA);
  color: #fff;
}
#leftwidgets .twoApps div:nth-child(2) p:nth-child(2){
  font-size: 2em;
}
#leftwidgets .twoApps div:nth-child(2) p:nth-child(3), #leftwidgets .twoApps div:nth-child(2) p:nth-child(5){
  font-size: 0.8em;
  font-weight: bold;
}
#leftwidgets .twoApps div:nth-child(2) p:nth-child(4) span i{
  color:#FFD700 ;
}
#leftwidgets .news{
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}
#leftwidgets .news div{
  display: flex;
  justify-content: space-between;
  color: #DC143C;
  margin-bottom: 8px;
}

#leftwidgets .news p {
  font-size: 0.9em;
  margin-bottom: 5px;
}
#leftwidgets .news p:nth-child(2), #leftwidgets .news p:nth-child(4){
color:	#989898;
font-weight: bold;
margin-bottom: none;
font-size: 0.7em;

}
/* middle apps design */
#middleApps {
  order: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  margin-right: 25px;
  margin-left: 75px;
  height: 40%;
}

#middleApps .apps {
  width: 70px;
  height: 70px;
  transition: all 500ms;
}

#middleApps .apps p{
  color: #fff;
  text-align: center;
}

#middleApps .apps:hover {
  -ms-transform: scale(1.2, 1.2); /* IE 9 */
  transform: scale(1.2, 1.2); /* Standard syntax */
}

#middleApps .apps img {
  width: 100%;
  border-radius: 15px;
}

#footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

#footer ul {
  background: rgba(214, 211, 211, 0.2);
  padding: 5px;
  padding-left: 8px;
  border-radius: 10px;
}

#footer ul li {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 5px;
  transition: all 500ms;
}

#footer ul li:hover {
  -ms-transform: scale(1.4, 1.4); /* IE 9 */
  transform: scale(1.4, 1.4); /* Standard syntax */
}

#footer ul li img {
  width: 100%;
}

#footer ul li img[alt="twitter"],
#footer ul li img[alt="github"] {
  border-radius: 10px;
}

#footer ul li img[alt="facebook"],
#footer ul li img[alt="home"],
#footer ul li img[alt="youtube"],
#footer ul li img[alt="insta"] {
  border-radius: 7px;
}
@media screen and (min-width: 1000px) {
  #middle {
    display: none;
  }
  .displayOnlySmall{
    display: none;
  }
}

@media screen and (max-width: 1000px){
  .displayNone {
    display: none;
  }
 
  #middle #middleApps .displayNoneSmallest{
    display: none;
  }
  #footer ul li{
    width: 50px;
    height: 50px;
  }
  #footer ul li.displayNone{
    display: none;
  }
  nav{
    background: transparent;
  }
  html body{
    background: url("../img/bgs.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  #footer ul li.displayOnlySmall{
    display: none;
  }
}

@media screen and (max-width: 870px) {
 
  #footer ul li.displayNoneSmall {
    display: none;
  }
  #middle #middleApps .displayNoneSmallest{
    display: none;
  }
  #middle #middleApps .displayNoneSmall{
    display: none;
  }

  #footer ul li.displayNoneSmall {
    display: none;
  }
  
}

@media screen and (max-width: 700px) {
  #middle {
    grid-area: middle1;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    grid-gap: 20px;
    align-items: center;
  }
  #middleApps {
    order: 2;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-right: 25px;
    margin-left: 25px;
    height: 50%;
    margin-bottom: 10px;
  }
  #footer ul li.displayOnlySmall{
    display: none;
  }

  
  #footer ul li.displayNoneSmallest {
    display: none;
  }
  #middle #middleApps .displayNoneSmallest{
    display: none;
  }
  nav #right .displayNoneSmallest{
    display: none;
  }
  #leftwidgets {
    order: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin:auto;
    height: 80%;
    width: auto;
    flex: 0 0 300px;
  
  }

  #leftwidgets .twoApps, #leftwidgets .news{
    max-width: 300px;
  }
  #leftwidgets .news{
    padding-bottom: 0;
  }  
  #middle #middleApps .displayOnlySmall{
    width: 50px;
    height: 50px;
  }
  #middle #middleApps {
    gap:30px;
  }
  #middle #middleApps .displayOnlySmall p{
    font-size: 0.8em;;
  }

}

@media screen and (max-width:385px) {
  #middle #middleApps .displayOnlySmall{
    width: 50px;
    height: 50px;
  }
  #middle #middleApps {
    gap:20px;
  }
  #middle #middleApps .displayOnlySmall p{
    font-size: 0.7em;
    
  }
  #footer ul li{
    width: 50px;
    height: 50px;
  }

}
