* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html body {
  background: url("../img/bgs.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh; */
  font-family: Arial, Helvetica, sans-serif;
  background-attachment: fixed;
  color: #fff;
  height: 100vh;
}

a{
  text-decoration: none;
  color: #fff;
}
#footer {
  padding: 0 0 0px !important;
  }

/* grid of whole display */

/* nav bar design */


/* middle section design */

/* 
left widget design */

/* middle apps design */

/*Footer Design */

@media screen and (min-width: 1000px) {
  .displayNotLaptop{
    display: none;
  }
  #wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  nav #left, nav #right{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px;
    margin:auto 10px;
  }

  nav ul li{
    list-style-type: none;
    margin: auto 5px;
  }
  #footer{
    width: 100%;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 0.5rem;
  }
  #footer ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .08rem;
    background: rgba(189, 189, 189, 0.3);
    padding: 5px;
    border-radius: .5rem;
  }
  #footer ul li{
    width: 3rem;
    height: 3rem;
    list-style-type: none;
    margin: 0.2rem;
  }
  #footer ul li img{
    width: 100%;
  }
  #footer ul li img[alt="facebook"],#footer ul li img[alt="github"],#footer ul li img[alt="twitter"]{
    border-radius: 0.8rem;
  }
  #footer {
    padding: 0 0 0px !important;
    }
}

@media screen and (max-width: 1000px){
  
  #wrapper{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 100%;
  }
  nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  nav #left, nav #right{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px;
    margin:auto 10px;
  }

  nav ul li{
    list-style-type: none;
    margin: auto 5px;
  }
  #middle{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* height: 80%; */
  }
  .displayOnlyLaptop{
    display: none;
  }

  #middle #middleApps{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    align-content: flex-start;
    gap: 2.5rem;
    padding: 1rem;

  }

  #middle #middleApps div{
    width:3rem;
    height: 3rem;
  }

  #middle #middleApps div img{
    width: 100%;
  }

  #middle #middleApps div p{
    font-size: 0.8rem;
    text-align: center;
  }

  #middle #middleApps div img[alt="appleWatch"], 
  #middle #middleApps div img[alt="google Analytics"],
  #middle #middleApps div img[alt="facebook"],
  #middle #middleApps div img[alt="twitter"]{
    border-radius: 10px;
  }
  #middle #middleApps div img[alt="insta"]{
    border-radius: 5px;
  }
  #wrapper #middle #leftwidgets{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  #wrapper #middle #leftwidgets div.dateTime .time{
    font-size: 4rem;
  }
  #wrapper #middle #leftwidgets div.dateTime .date{
    font-size: 2rem;
  }
  #wrapper #middle #leftwidgets .twoApps{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    gap: 10%;
  }
  #wrapper #middle #leftwidgets .twoApps div{
    background: #fff;
    color: #000;
    width: 45%;
    height: 8rem;
    border-radius: 10px;
    padding: 10px;
  }

#wrapper #middle #leftwidgets .twoApps div:nth-child(1) p:nth-child(1){
  color:#DC143C;
  text-transform: uppercase;
}
#wrapper #middle #leftwidgets .twoApps div:nth-child(1) p:nth-child(2){
  font-size: 2em;
}
#wrapper #middle #leftwidgets .twoApps div:nth-child(1) p:nth-child(3),
#wrapper #middle #leftwidgets .twoApps div:nth-child(1) p:nth-child(4){
  font-size: 0.8em;
  font-weight: bold;
}
#wrapper #middle #leftwidgets .twoApps div:nth-child(1) p:nth-child(3) span{
  color:#00CED1;
  font-weight: bold;
}
#wrapper #middle #leftwidgets .twoApps div:nth-child(1) p:nth-child(4) span{
  color: #8B008B;
  font-weight: bold;
}
#wrapper #middle #leftwidgets .twoApps div:nth-child(2){
  background: linear-gradient(to bottom,	#4682B4, #87CEFA);
  color: #fff;
}
#wrapper #middle #leftwidgets .twoApps div:nth-child(2) p:nth-child(2){
  font-size: 2em;
}
#wrapper #middle #leftwidgets .twoApps div:nth-child(2) p:nth-child(3), 
#wrapper #middle #leftwidgets .twoApps div:nth-child(2) p:nth-child(5){
  font-size: 0.8em;
  font-weight: bold;
}
#wrapper #middle #leftwidgets .twoApps div:nth-child(2) p:nth-child(4) span i{
  color:#FFD700 ;
}
#wrapper #middle #leftwidgets .news{
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}
#wrapper #middle #leftwidgets .news div{
  display: flex;
  justify-content: space-between;
  color: #DC143C;
  margin-bottom: 8px;
}
#wrapper #middle #leftwidgets .news div p{
  color: #DC143C;
}

#wrapper #middle #leftwidgets .news p {
  font-size: 0.9em;
  margin-bottom: 5px;
  color: #000;
}
#wrapper #middle #leftwidgets .news p:nth-child(2),
#wrapper #middle #leftwidgets .news p:nth-child(4){
color:	#989898;
font-weight: bold;
margin-bottom: none;
font-size: 0.7em;

}
#footer{
    width: 100%;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#footer ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .08rem;
    background: rgba(189, 189, 189, 0.3);
    padding: 5px;
    border-radius: .5rem;
}
#footer ul li{
  width: 3rem;
  height: 3rem;
  list-style-type: none;
  margin: 0.2rem;
}
#footer ul li img{
  width: 100%;
}
#footer ul li img[alt="facebook"],#footer ul li img[alt="github"],#footer ul li img[alt="twitter"]{
  border-radius: 0.8rem;
}
}
@media screen and (max-width: 870px) {
 #wrapper #footer ul li.displayNotTablet{
   display: none;
 }
}
@media screen and (max-width: 737px) {
  .displayNotSmallTablet{
    display: none;
  }
}
@media screen and (max-width:610px) {
  #wrapper #middle{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #wrapper #middle #leftwidgets{
    width: 60%;
  }
  #wrapper #middle #middleApps{
    gap: 1.5rem;
    justify-content: center;
  }
  .displayNotSmallestTablet{
    display: none;
  }
}
@media screen and (max-width:540px){
  .displayNotMobile{
    display: none;
  }
  #wrapper #middle #middleApps{
    gap: 1rem;
    justify-content: center;
    width: 90%;
  }
  #wrapper #middle #leftwidgets{
    width: 90%;
  }


} 
@media screen and (max-width:540px){
  #wrapper #middle #middleApps{
    gap: 0.5rem;
    justify-content: center;
    width: 100%;
    align-content: center;
    padding: 0;
  }
  #wrapper #middle #middleApps p{
    display: none;
  }
}

